@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.img-container{
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  margin-bottom: 25px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 5px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.img-container h1 {
  text-align: center;
}